
body { background: #d9f7e6; font-family: Arial; margin: 0; padding: 0; }
header { background: #16a34a; padding: 20px; color: white; text-align: center; }
.container { display: flex; padding: 20px; gap: 20px; }
.kisah { flex: 1; background: white; padding: 20px; border-radius: 12px; }
.tools { width: 350px; display: flex; flex-direction: column; gap: 20px; }
.yt_box { background: white; padding: 15px; border-radius: 12px; }
.yt_box input { width: 100%; padding: 8px; margin: 5px 0; }
.yt_box iframe { width: 100%; height: 200px; margin-top: 10px; border-radius: 12px; }
.social { display: flex; justify-content: space-around; }
.social a { background: #16a34a; color: white; padding: 12px; width: 60px; text-align: center; border-radius: 50%; text-decoration: none; font-weight: bold; }
.ai_box { margin: 20px; background: white; padding: 20px; border-radius: 12px; }
